<div class="row">
  <div class="col-md-2"></div>
  <div class="card text-center col-md-8">
    <div class="card-header">
      Inscription
    </div>
    <div class="card-body">
        <section>
            <form [formGroup]="inscriptionForm" (ngSubmit)="submitForm()">
                <input type="text" placeholder="E-mail" formControlName="email">
                <input type="text" placeholder="Pseudo" formControlName="pseudo">
                <input type="text" placeholder="Mot de passe" formControlName="password">
                <input type="text" placeholder="Confirmer mot de passe" formControlName="passwordConfirm">
                <input id="btn-inscription" type="submit" class="btn btn-primary" value="Inscription">
            </form>
        </section>
    </div>
    <div class="card-footer text-muted">
      ~ ~ ~
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
