<div class="row">
  <div class="col-md-2"></div>
  <div id="container" class="col-md-8" >
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/user.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Liste d'utilisateurs</h5>
        <p class="card-text">Cliquez ici pour visulaiser la liste des utilisateurs<p>
        <button class="btn btn-primary"><a routerLink="../users">Utilisateurs</a></button>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img id="news-img" src="../../assets/img/news.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Liste des articles</h5>
        <p class="card-text">Cliquez ici pour visulaiser la liste des articles</p>
        <button type="button" class="btn btn-primary"><a routerLink="../articles">Articles</a></button>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img id="news-img" src="../../assets/img/creer.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Créer</h5>
        <p class="card-text">Cliquez ici pour créer un nouvel article</p>
        <button type="button" class="btn btn-primary"><a routerLink="../edition">Créer</a></button>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
